# SPDX-FileCopyrightText: 2022 Wilfred Nicoll <xyzroller@rollyourown.xyz>
# SPDX-License-Identifier: GPL-3.0-or-later

[Unit]
Description=Webhook
Wants=network-online.target systemd-networkd-wait-online.service
After=syslog.target network.target network-online.target systemd-networkd-wait-online.service

[Service]
Type=simple
ExecStart=/usr/local/bin/start-webhook.sh

[Install]
WantedBy=multi-user.target
